@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --highlight-color: #e53935;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
}

.nav {
    background-color: #061f4a;
    color: white;
    font-size: 24;
}

.nav-item:hover {
    color: var(--highlight-color);
    cursor: pointer !important;
    font-weight: 600;
}

.nav-item-selected {
    color: var(--highlight-color);
    border-bottom: solid var(--highlight-color);
    font-weight: 600;
    cursor: default;
}

.favorite {
    color: #ffeb3b;
}
